@{
    ViewBag.Title = "ForgotPassword";
    Layout = null;
}

<link href="~/Content/Styles.css" rel="stylesheet" type="text/css" />

@*


<div class="item1">
    <form action="/User/SendEmail" method="post" >

        <h1>ForgotPassword</h1>
        Email:<br>
        <input type="text" name="Email" required /><br><br>
        <input type='submit' name="send" value="Send Code">
    </form>
</div>
    *@
<body>
    <div class="login-card">
        <h1>Forgot Password</h1><br>
        <form action="/User/SendEmail" method="post">
            Email:<br>
            <input type="text" name="Email" required /><br><br>
            <input type="submit" name="send" class="login login-submit" value="send email">
        </form>

    </div>
</body>
