@{
    ViewBag.Title = "UpdatePassword";
    Layout = null;
}

<link href="~/Content/Styles.css" rel="stylesheet" type="text/css" />


@*
<div class="item1">
    <form action="/User/Update" method="post">

        <h1>UpdatePassword</h1>
        <h2>enter new password</h2>
        <input type="text" name="password">
        <input type="submit" name="update" value="update">

    </form>
</div>
*@
<body>
    <div class="login-card">
        <h1>Update Password</h1><br>
        <form action="/User/Update" method="post">
            <h2>enter new password</h2>
            <input type="text" name="password">
            <input type="submit" name="update" class="login login-submit" value="Update">
        </form>

    </div>
</body>
