
@{
    ViewBag.Title = "NormalUser";
    Layout = "~/Views/Shared/_MyProductLayout.cshtml";
}
<body style="background-color:#c1b2a6">
    <div align="center">
        <h2>NormalUser</h2>
        </div>
</body>

